<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>Teachers</title>
        <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>List teachers</h1>
            </div>
            
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Year-teaching</th>
                        <th>Degree</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "teacher: ${teachers}">
                        <td th:text = "${teacher.name}"></td>
                        <td th:text = "${teacher.yearTeaching}"></td>
                        <td th:text = "${teacher.degree}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
